
# Python Advanced Assignment with Examples

This notebook provides advanced-level examples and assignments for the following Python concepts:

1. Variables  
2. Datatypes  
3. Arithmetic Operators  
4. Comparison Operators  
5. Logical Operators  
6. List  
7. Tuple  
8. Set  
9. Dictionary  

Each section contains examples followed by assignment questions for practice.

## 1. Variables

In [ ]:
# Examples
# Example 1: Swapping two variables without using a third variable
a = 5
b = 10
a, b = b, a
print("After swapping:", "a =", a, "b =", b)

# Example 2: Formatted message using variables
first_name = "John"
last_name = "Doe"
year_of_birth = 1993
current_year = 2024
age = current_year - year_of_birth
print(f"{first_name} {last_name} is {age} years old.")

# Example 3: Displaying large integers in scientific notation
large_number = 12345678901234567890
print("Scientific notation:", format(large_number, ".2e"))

In [ ]:
# Assignment:
# 1. Write a program to swap the values of two variables using arithmetic operations only (no third variable).
# 2. Create variables to store your first name, last name, and favorite number. Use them to print a sentence like "My name is John Doe, and my favorite number is 7."
# 3. Create a variable with a very small float value and display it in scientific notation.

## 2. Datatypes

In [ ]:
# Examples
# Example 1: Validating user input and performing an operation
num1 = input("Enter first number: ")
num2 = input("Enter second number: ")
operation = input("Enter operation (+, -, *, /): ")
if num1.isdigit() and num2.isdigit():
    num1, num2 = float(num1), float(num2)
    if operation == '+':
        print("Result:", num1 + num2)
    elif operation == '-':
        print("Result:", num1 - num2)
    elif operation == '*':
        print("Result:", num1 * num2)
    elif operation == '/':
        print("Result:", num1 / num2)
    else:
        print("Invalid operation")
else:
    print("Invalid numbers")

# Example 2: Type conversions
number = 7.5
print("Integer:", int(number))
print("String:", str(number))

In [ ]:
# Assignment:
# 1. Write a program that accepts two numbers and checks if their sum is greater than 100.
# 2. Take a string input, split it into words, and display the words along with their lengths.
# 3. Write a program to find the type of each element in a mixed list (e.g., [1, "hello", 3.14, True]).

## 3. Arithmetic Operators

In [ ]:
# Advanced Arithmetic Operators Example
# Calculating compound interest
principal = 1000  # Initial amount
rate_of_interest = 5  # Interest rate in percentage
time_period = 2  # Time period in years

# Compound interest formula: A = P(1 + r/n)^(nt)
amount = principal * (1 + (rate_of_interest / 100)) ** time_period
compound_interest = amount - principal

print("Compound Interest:", compound_interest)

In [ ]:
# Assignment:
# Modify the values of principal, rate_of_interest, and time_period to see how the compound interest changes.

# Print the new compound interest.

In [ ]:
# Advanced Assignment:
# 1. Write a program that calculates the compound interest for a given principal amount, rate of interest, and time period.
# 2. Create a program that calculates the area and perimeter of a rectangle using user input for length and width.
# 3. Write a program to calculate the sum of the squares of the first N natural numbers.

## 4. Comparison Operators

In [ ]:
# Advanced Comparison Operators Example
# Checking if a number is within a range
number = 15
lower_bound = 10
upper_bound = 20

is_within_range = lower_bound <= number <= upper_bound
print("Is number within range:", is_within_range)

In [ ]:
# Assignment:
# Change the value of number and check if it falls within the range.

# Print the result.

In [ ]:
# Advanced Assignment:
# 1. Write a program to compare the lengths of two user-input strings and determine which is longer or if they are equal.
# 2. Create a program to find the smallest and largest of three user-input numbers using comparison operators.
# 3. Write a program that checks if a given year is a leap year.

## 5. Logical Operators

In [ ]:
# Advanced Logical Operators Example
# Check if a user is eligible for a discount
is_member = True
total_purchase = 120

is_eligible_for_discount = is_member and total_purchase > 100
print("Is eligible for discount:", is_eligible_for_discount)

In [ ]:
# Assignment:
# Change the values of is_member and total_purchase to see if the user remains eligible for a discount.

# Print the result.

In [ ]:
# Advanced Assignment:
# 1. Write a program that checks if a user-input number is both positive and even using logical operators.
# 2. Create a program that determines if a user-input number lies within a specified range (e.g., 10-50).
# 3. Write a program that evaluates a boolean expression: (x > 10 and y < 5) or (z == 0), where x, y, and z are user-input values.

## 6. List

In [ ]:
# Advanced List Example
# List of student grades
grades = [85, 90, 78, 92, 88]

# Calculate the average grade
average_grade = sum(grades) / len(grades)
print("Average Grade:", average_grade)

# Sort the grades in descending order
grades.sort(reverse=True)
print("Sorted Grades:", grades)

In [ ]:
# Assignment:
# Add a new grade to the grades list.

# Recalculate the average grade and print it.

In [ ]:
# Advanced Assignment:
# 1. Write a program that takes a list of numbers as input and prints the second-largest number in the list.
# 2. Create a program to reverse a list without using built-in functions.
# 3. Write a program that removes duplicate elements from a list and sorts the remaining elements.

## 7. Tuple

In [ ]:
# Advanced Tuple Example
# Tuple representing RGB color codes
rgb_color = (255, 100, 50)

# Convert RGB to Hexadecimal
hex_color = '#%02x%02x%02x' % rgb_color
print("Hexadecimal Color:", hex_color)

In [ ]:
# Assignment:
# Create a tuple new_rgb_color with different RGB values.

# Convert the new_rgb_color to hexadecimal and print it.

In [ ]:
# Advanced Assignment:
# 1. Write a program that takes a tuple of numbers as input and calculates the sum of all elements.
# 2. Create a program that converts a tuple of strings into a single concatenated string.
# 3. Write a program to find the index of the first occurrence of a user-input element in a tuple.

## 8. Set

In [ ]:
# Advanced Set Example
# Set operations: Union, Intersection, Difference
set_a = {1, 2, 3, 4, 5}
set_b = {4, 5, 6, 7, 8}

union_set = set_a | set_b
intersection_set = set_a & set_b
difference_set = set_a - set_b

print("Union of sets:", union_set)
print("Intersection of sets:", intersection_set)
print("Difference of sets:", difference_set)

In [ ]:
# Assignment:
# Create two new sets set_c and set_d with different values.

# Perform and print the results of union, intersection, and difference operations.

In [ ]:
# Advanced Assignment:
# 1. Write a program that finds the union, intersection, and difference of two user-input sets.
# 2. Create a program to check if a given set is a subset of another set.
# 3. Write a program that removes all even numbers from a set of integers.

## 9. Dictionary

In [ ]:
# Advanced Dictionary Example
# Dictionary with nested lists
menu = {
    "breakfast": ["pancakes", "coffee", "fruit"],
    "lunch": ["burger", "fries", "soda"],
    "dinner": ["steak", "salad", "wine"]
}

# Adding a new meal item
menu["snacks"] = ["chips", "juice"]
print("Updated Menu:", menu)

In [ ]:
# Assignment:
# Add a new key-value pair for desserts with a list of dessert items to the menu dictionary.

# Print the updated dictionary.

In [ ]:
# Advanced Assignment:
# 1. Write a program that takes a dictionary of student names and their scores, then prints the name of the student with the highest score.
# 2. Create a program that merges two dictionaries and handles any key conflicts by summing the values.
# 3. Write a program to count the frequency of each character in a user-input string and store the result in a dictionary.