
# Python Basics: Concepts and Practice

This notebook introduces the following Python concepts with examples and practice assignments:

1. Variables  
2. Datatypes  
3. Arithmetic Operators  
4. Comparison Operators  
5. Logical Operators  
6. List  
7. Tuple  
8. Set  
9. Dictionary  

Let's get started!

## 1. Variables

In [ ]:
# Example: Variables
name = "John"
age = 25
height = 5.9

print("Name:", name)
print("Age:", age)
print("Height:", height)

In [ ]:
# Assignment:
# 1. Create a variable to store your favorite color and print it.
# 2. Assign your current city to a variable and print it.
# 3. Create variables to store your first name and last name, then print them together as a full name.

## 2. Datatypes

In [ ]:
# Example: Datatypes
integer_num = 10        # Integer
floating_num = 3.14     # Float
string_val = "Python"   # String
boolean_val = True      # Boolean

print("Integer:", integer_num)
print("Float:", floating_num)
print("String:", string_val)
print("Boolean:", boolean_val)

In [ ]:
# Assignment:
# 1. Create an integer variable and a float variable, then print their values.
# 2. Assign a boolean value to a variable and print it.
# 3. Create a variable with a string and display its length using len().

## 3. Arithmetic Operators

In [ ]:
# Example: Arithmetic Operators
a = 10
b = 3

print("Addition:", a + b)
print("Subtraction:", a - b)
print("Multiplication:", a * b)
print("Division:", a / b)
print("Floor Division:", a // b)
print("Modulus:", a % b)
print("Exponentiation:", a ** b)

In [ ]:
# Assignment:
# 1. Perform addition, subtraction, and multiplication on two numbers of your choice.
# 2. Calculate the remainder when one number is divided by another.
# 3. Raise a number to the power of another number and print the result.

## 4. Comparison Operators

In [ ]:
# Example: Comparison Operators
x = 10
y = 20

print("x == y:", x == y)   # Equal to
print("x != y:", x != y)   # Not equal to
print("x > y:", x > y)     # Greater than
print("x < y:", x < y)     # Less than
print("x >= y:", x >= y)   # Greater than or equal to
print("x <= y:", x <= y)   # Less than or equal to

In [ ]:
# Assignment:
# 1. Compare two numbers using '==' and '!=' operators.
# 2. Check if one number is greater than or less than another number.
# 3. Use '>=' and '<=' to compare two different numbers.

## 5. Logical Operators

In [ ]:
# Example: Logical Operators
a = True
b = False

print("a and b:", a and b)
print("a or b:", a or b)
print("not a:", not a)

In [ ]:
# Assignment:
# 1. Use 'and' to combine two boolean expressions and print the result.
# 2. Use 'or' to combine two boolean expressions and print the result.
# 3. Apply 'not' to a boolean variable and print the outcome.

## 6. List

In [ ]:
# Example: List
fruits = ["apple", "banana", "cherry"]
print("Fruits:", fruits)
print("First fruit:", fruits[0])
print("Last fruit:", fruits[-1])
fruits.append("orange")
print("Fruits after adding orange:", fruits)

In [ ]:
# Assignment:
# 1. Create a list of your favorite movies and print it.
# 2. Add a new movie to the list and print the updated list.
# 3. Print the first and last items from the list using indexing.

## 7. Tuple

In [ ]:
# Example: Tuple
colors = ("red", "green", "blue")
print("Colors:", colors)
print("First color:", colors[0])
print("Last color:", colors[-1])

In [ ]:
# Assignment:
# 1. Create a tuple of your favorite sports and print it.
# 2. Access the second item in the tuple and print it.
# 3. Try changing a value in the tuple and observe the error.

## 8. Set

In [ ]:
# Example: Set
unique_numbers = {1, 2, 3, 4, 5}
print("Set:", unique_numbers)
unique_numbers.add(6)
print("Set after adding 6:", unique_numbers)
unique_numbers.remove(3)
print("Set after removing 3:", unique_numbers)

In [ ]:
# Assignment:
# 1. Create a set of unique hobbies you have and print it.
# 2. Add a new hobby to the set and print the updated set.
# 3. Remove an existing hobby from the set and print the updated set.

## 9. Dictionary

In [ ]:
# Example: Dictionary
person = {"name": "Alice", "age": 30, "city": "New York"}
print("Person:", person)
print("Name:", person["name"])
person["age"] = 31
print("Updated Person:", person)
person["profession"] = "Engineer"
print("Person after adding profession:", person)

In [ ]:
# Assignment:
# 1. Create a dictionary to store information about your favorite book and print it.
# 2. Update one of the values in the dictionary and print the updated dictionary.
# 3. Add a new key-value pair to the dictionary and print the result.